/* General */
:root {
  --main-bg-color: black;
  --main-txt-color: whitesmoke;
  --main-txt-hover-color: rgb(195, 195, 255);
  --box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  --card-bg-color: rgba( 255, 255, 255, 0.25 );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 20px;
} 

body {
  color: var(--main-txt-color);
  font-size: 125%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
}

h1 {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 2em;
}

h2 {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 1.5em;
}

h3 {
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 1em;
}

h4 {
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 0.8em;
}

p {
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--main-txt-color);
}

a:hover {
  color: var(--main-txt-hover-color);
}

ul {
  list-style-type: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid var(--main-txt-color);
  margin: 1em 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.Spacer {
  height: 30px;
}

.Spacer_large {
  height: 100px;
}

.left-border {
  border-left-style: solid;
  border-left-color: var(--main-txt-color);
  padding: 0 25px;
}

.page-content {
  animation: fadeIn 1.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  width: 90vw;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Home page */
.home-page {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.home-content {
  width: 40%;
  min-width: 300px;
}

.rotating-photo {
  max-width: 100%;
}

/* Navbar.css */
.Nav-Container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar {
    position: fixed;
    top: 25px;
    width: fit-content;
    padding: 10px 40px;
    z-index: 1000;

    box-shadow: var(--box-shadow);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 15px;
    background: rgba( 255, 255, 255, 0.25 );
  }
  
  .navbar ul {
    text-align: center;
    justify-content: space-between;
  }
  
  .navbar ul li {
    font-weight: 500;
    display: inline;
    margin-right: 50px;
  }

  .navbar ul li:last-child {
    margin-right: 0;
  }
  
  .navbar ul li a:hover {
    color: var(--main-txt-hover-color);
  }

/* Research and Publication page */
.CardHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: start;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 10px;
  padding: 10px;
  min-width: 400px;
  max-width: 600px;
  height: 90px;

  
  transition: ease-in-out 0.5s;
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  background: var(--card-bg-color);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}

.Card:hover {
  transition: ease-in-out 1s;
  transform: scale(1.05);
  background: rgba(150, 200, 255, 0.25);
  height: 300px;
}
.CardScroll {
  overflow-y: scroll;
  height: 100%;
}

.Card > .CardScroll .CardText {
  visibility: hidden;
  opacity: 0;
  transition:opacity 1s ease-in-out;
}

.Card:hover > .CardScroll .CardText {
  visibility: visible;
  opacity: 1;
}

.CardTitle {
  font-weight: bold;
  text-align: start;
}

.CardText {
  /* height: 100%; */
  padding: 10px;
  visibility: hidden;
}
/* Contact Bar */
.Contact-Title {
  justify-self: left;
}

.Contact-List {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  width: max-content;
  margin: 0 auto;
}

/* Education */

.Education-Banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.School-Card {
  display: grid;
  margin: 5px 20px;
  padding: 10px;
  min-width: 300px;
  max-width: 500px;
  
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}

.School-Info {
  display: flex;
  flex-direction: column;
  padding : 10px;
  text-align : center;
  grid-column: 1;
  grid-row: 1;
}

.School-Logo-Container {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  max-height: 100%;
  max-width: 100%;
}

.School-Logo-Container img {
  max-height: 100%;
  max-width: 100%;
}

.School-Card:hover .School-Info {
  opacity: 1;
  transition : 1s ease-in-out;
}

.School-Card:not(:hover) .School-Info {
  opacity: 0;
  transition: 1s ease-in-out;
}

.School-Card:hover .School-Logo-Container {
  opacity: 0;
  transition: ease-in-out 1s;
}

.School-Card:not(:hover) .School-Logo-Container {
  opacity: 1;
  transition: ease-in-out 1s;
}

.School-Logo-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 125px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}

.School-logo {
  max-height: 100%;
  padding: 10px;
  border-radius: 10px;
}

/* Skills */
.Skills-Banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.Skills-Card {
  padding: 10px 25px;
}

.Skills-Card ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.Skills-Card ul li {
  font-size: 0.9rem;
  margin-bottom: 2px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  
}

/* Teaching */
.no-bottom-margin {
  margin: 0;
}

/* Icons */
.material-symbols-outlined {
  color: whitesmoke;
  margin-right: 10px;
}

